{% extends 'base.html.twig' %}

{% block title %}Hello AfficheurInscriptionController!{% endblock %}

{% block body %}
<style>
   
   body {background-image:url('PROJET_CDA/images_background/black.jpg')  ; font-size: xx-small ; background-repeat: repeat-y repeat-x ; font-family:'Poppins', sans-serif ; font-style: normal; color: rgb(13, 13, 14);}
   
</style>


   <div class="container"  style=" position:absolute ; height:10%; ">
        <div class ="row" style="height: 100%;">


            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="   height:100%  ; " >
        
                <div class = "row"  style="height: 100%;">
                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" background-color: rgb(8, 8, 8) ; height:100%  ; "  ></div> 
                </div>
            </div>    
               
    
    
    
    
    
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="   height:100%  ; " >
              
        
               <div class = "row"  style="height: 100%;">
               
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style=" background-color: rgb(199, 252, 7) ; height:100%  ; "  >
                        <a href="#" style="font-size: medium; display: flex; justify-content:center ; "    > ACCUEIL </a>
                    </div> 
                    <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style=" background-color: rgb(10, 10, 10) ; height:100%  ; "  ></div> 
               </div>
           
    
            </div>

   
        
      
        </div>
    </div>


                        <div class="container"  style=" position:absolute; top:10% ; height:90%;  background-image: url({{asset('media/black.jpg')}}) ; ">
                            <div class="row"  style="height:30%; " >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="height:100%;  ; "  >
                                    <div class="row"  style="height:90%; " >
                                        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-8 "  style="height:90%;  top:10% ; "  >
                                            <div class="row"  style="height:40%; " >
                                                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10 "  style="height:80%; top:20% ; "  >
                                                   
                                                            <div class= "col-lg-10 col-md-10 col-sm-10 col-xs-10  col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 " style="height:100% ;font-size: xx-small " >
                                                                <div class="row" style="height:100% ;" >
                                                                    <div   style="height:100%  ; width: 100% " >
                                                                       
                                                                               
                                                                            <nav  style="height:100% ; top:10% ; font-size: xx-small  ;background-color: black;  "  class="row">
                                        <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style= " background-color: orange ;   font-size: xx-small ; list-style-type: none; top:10% ; height:80% ;" >
                                        <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"   > <a href="{{ path('categoriespr') }}"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0% ; font-size: 80%   ;   "  > promotions <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        </a></li>
                                         <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"   > <a href="{{ path('categorieshef') }}"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0% ; font-size: 80%   ;   "  > categories <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        </a></li>
                                            <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"   > <a href="{{ path('blog') }}"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0% ; font-size: 80%   ;   "  > blog <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        </a></li>
                                         <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"   > <a href="{{ path('utilisateur') }}"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0% ; font-size: 80%   ;   "  > connexion <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        </a></li>
                                         <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"   > <a href="{{ path('paniercommande') }}"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0% ; font-size: 80%   ;   "> commandes <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        </a></li>
                                         <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"   > <a href="{{ path('historiques') }}"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0% ; font-size: 80%   ;   "  > historiques<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                        </a></li>
                                        </ul>
                                    </nav>   
                                                                              
                                                                    </div>
                                                                </div>
                                                            </div>
                                                  
                                                </div>
                                                </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  style="height:50%; " >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="height:100%;  "  >
                                    <div class="row" style="height:100% ;">
                                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-10 col-md-10 col-sm-10 col-xs-10 "  style="height:90%;  background-image: url(images_background/yellow.jpg) ; top:5% ; "  >
                                     <div class="container">
                                     <h3>formulaire d'inscription</h3>
                                      {{ form(form)}}
                                     
                                     </div>
                                    </div>
                                   </div>
                                </div>
                            </div>
                            <div class="row"  style="height:20%; " >
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="height:100%;  background-image: url(images_background/yellow.jpg) ; "  >
                                {% for message in app.flashes ('success')  %}
                                <div class="alert alert-success mt-4">
                                {{ message }}
                                </div>
                                {%  endfor  %}
                                </div>
                            </div>
                        </div>
    
    
    
              <footer  class = "container"   style=" position: absolute ; top:100% ; background-image: url({{asset('media/yellow.jpg')}}) ; background-repeat: repeat-y ; background-repeat: repeat-x; "  >

        <div class="row"  style="height:100%" >
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"  style="height:80%   ; " > 
                 <div class="row" style="height: 80%;">
                <div  class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="  font-size: xx-small; "  >
                   <ul  style="list-style-type: none ; color :antiquewhite ;" >
                                        <li><a href="#"  style=" background-color: rgb(13, 13, 14)  ;  color :antiquewhite ; ">aide<i class="fa fa-yelp" aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" style=" background-color: rgb(14, 14, 15)  ;   color :antiquewhite ;"  >suivre votre commande <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" style=" background-color: rgb(12, 12, 14)  ; color :antiquewhite ; " >annuler votre commande <i class="fa fa-shopping-basket" aria-hidden="true"></i> </a></li>
                                    
                                 
                                      
                                        <li> <a href="#"   style=" background-color: rgb(5, 5, 5)  ; color :antiquewhite ; " >condition génerales <i class="fa fa-book" aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#"   style=" background-color: rgb(10, 10, 10)  ;  color :antiquewhite ;" >localisation <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </a></li>
                                       
                                  
                                        <li> <a href="#" style=" background-color: rgb(12, 11, 11);  color :antiquewhite ; "  >adresse émail <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                       <li><a href="#" style=" background-color: rgb(10, 8, 9) ;  color :antiquewhite ; "  >adresse instagram <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#" style=" background-color: rgb(10, 10, 10) ; color :antiquewhite ; "  >adresse facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                            <li><a href="#" style=" background-color: rgb(15, 14, 15) ; color :antiquewhite ; "   >numéro de téléphone <i class="fa fa-phone" aria-hidden="true"></i></a></li>
                                            </ul>
                </div>
                </div>
            </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  style="height:90% ; top:10% ;"  >
             <div class="row"  style="height:90% ; font-size: xx-small;" >
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black; "  >Bénin  <img src={{asset('media/drapeau-benin.jpg')}}  width="20px" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(245, 246, 248)  ; color: black;"  >Burkina-Faso  <img src={{asset('media/1200px-Flag_of_Burkina_Faso.svg.png')}}  width="20%" height="20%">  </div>
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(171, 172, 169)  ; color: black;"  >Centrafique  <img src={{asset('media/drapeaudelacentrafrique.jpg')}}  width="20%" height="20%"></div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(253, 252, 252)  ; color: black;"  >Comores   <img src={{asset('media/1014360-Drapeau_des_Comores.jpg')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(150, 146, 146)  ; color: black;"  >Congo   <img src={{asset('media/1200px-Flag_of_the_Democratic_Republic_of_the_Congo.svg.png')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(255, 255, 254)  ; color: black; "  >Cote d'ivoire   <img src={{asset('media/1200px-Flag_of_Côte_Ivoire.svg.png')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black;"  >Gabon    <img src={{asset('media/1009494-Drapeau_du_Gabon.jpg')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(247, 248, 250)  ; color: black;"  >Guinée    <img src={{ asset('media/drapeau-guinee-conakry.png')}}  width="20%" height="20%"> </div>
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(175, 175, 173)  ; color: black;"  >Guinée Bissau    <img src={{asset('media/1009503-Drapeau_de_la_Guinée-Bissau.jpg')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(156, 156, 156)  ; color: black;"  >Guinée équatoriale    <img src={{asset('media/1009504-Drapeau_de_la_Guinée_équatoriale.jpg')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(248, 238, 238)  ; color: black;"  >Mali     <img src={{asset('media/1200px-Flag_of_Mali.svg.png')}}  width="20%" height="20%"></div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(255, 254, 245)  ; color: black; "  >Mauritanie    <img src={{asset('media/_98966769_f98ea54c-02b5-4383-ab66-34b8d242d3eb.jpg.webp')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black; "  >Niger       <img src={{asset('media/2389px-Flag_of_Niger.svg.png')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(246, 248, 252)  ; color: black; "  >Sénégal     <img src={{asset('media/2560px-Flag_of_Senegal.svg.png')}}  width="20%" height="20%"> </div>
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(172, 172, 172)  ; color: black;"  >Tchad     <img src={{asset('media/langfr-225px-Flag_of_Chad.svg.png')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(218, 212, 213)  ; color: black;"  >Togo    <img src={{asset('media/1009608-Drapeau_du_Togo.jpg')}}  width="20%" height="20%"> </div> 
        </div>
        <div class="row"  style="height:10%" >
            </div>
        </div>
        


        
    </div>
    </footer>
    
                       

{% endblock %}
