{% extends 'base.html.twig' %}

{% block title %}Hello PageAccueilController!{% endblock %}

{% block body %}
<style>

</style>

 <header class = "container"   style=" background-image: url({{asset('media/black.jpg')}}) ; position: absolute ; height:75% ; "  >
        <div class = "row" style="display: flex ; flex-direction:row ; height: 100%  ;  ">
            <div  class="col-lg-3 col-md-3 col-ms-3 col-xs-3"  style=" height:100% ; ">
                <div class="row" style="height:70% ; top: 0%;" >
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                        <img src={{asset('media/image_original.png')}}  width="100%" height="100%">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 "  style="height:80% ;">
                        <img src={{asset('media/DSC_2796.jpg')}}  width="100%" height="100%"></div>
                </div>
                <nav class="row" style="height:30%">
                    <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12"  ></div>
                </nav>
            </div>
           
           
            <div  class="col-lg-6 col-md-6 col-ms-6 col-xs-6"   style="height:100% ; " >

                <div class="row" style="height:60% ;" >
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1  "    >
                        <div class="row" style="height:50% ;" >
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1  "  >
                                <div class="row" style="height:50% ;" >
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1"  style=" top: 10% ;" >
                                        <form  class="form-control" style=" height: 60% ;font-size: xx-small; "  class="col-lg-12  col-md-12 col-xs-12 col-sm-12"   >
                                           
                                            <input type="text" class="col-lg-6 col-md-6 col-ms-6 col-xs-6" style="cursor :pointer ; color:black ;  font-family: 'Sedgwick Ave', cursive;font-style: normal; height: 100% ; " > <button type="submit"   class="col-lg-5 col-md-5 col-ms-5 col-xs-5" class = "btn btn-alert" class="form-control" style="background-color: yellow; color:black ; padding :1px ; border : black , 1px , solid ; height: 100% ; font-size:80% ">Rechercher</i</button> 
                                        </form>
                                          
                                    </div>
                                </div>
                                
                            </div>
                                 
                        </div>
                        <div class="row" style="height:50%">
                            <div class= "col-lg-10 col-md-10 col-sm-10 col-xs-10  col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 " style="height:100% ;font-size: xx-small " >
                                <div class="row" style="height:40% ;" >
                                    <div   style="height:100%  ; width: 100% " >
                                        <nav  style="height:100% ; top:10% ; font-size: xx-small  ;background-color: black;  "  class="row">
                                            <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style= " background-color: orange ;   font-size: xx-small ; list-style-type: none; top:10% ; height:80% ;" >
                                            <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12" class="dropdown"  > <a href="#"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0% ; font-size: 80%   ;   " data-toggle="dropdown"  >promotions<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </a>
                                                <ul class="dropdown-menu">
                                                <li><a href="#">nouveautés<i class="fa fa-shopping-bag" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a href="#">réductions<i class="fa fa-percent" aria-hidden="true"></i>
                                                </a></li>
                                               
                                                </ul>
                                               </li>
                                            <li class=" col-lg-2 col-md-2 col-sm-12 col-xs-12"  class="dropdown"    > <a href="#"  style=" border: black , solid , 3px;   margin: 5px ; background-color:orange ; color: black; left:0%  ;  font-size: 80% ; " data-toggle="dropdown" >blog<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Commentaires<i class="fa fa-comments" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a href="#">questionnaire<i class="fa fa-question-circle" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a href="#">statistiques<i class="fa fa-bar-chart" aria-hidden="true"></i>
                                                </a></li>
                                                </ul>
                                               </li> </li>
                                            <li class=" col-lg-2 col-md-2 col-sm-12 col-xs-12"  class="dropdown"    > <a href="#"  style=" border: black , solid , 3px; margin: 5px ; background-color:orange ; color: black; left:0%  ; font-size: 80% ;  " data-toggle="dropdown" >Catégories<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Hommes<i class="fa fa-male" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a href="#">Femmes<i class="fa fa-female" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a href="#">Enfants<i class="fa fa-child" aria-hidden="true"></i>
                                                </a></li>
                                                </ul>
                                               </li> </li>
                                            <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"   class="dropdown"   > <a href="#"  style=" border: black , solid , 3px;  margin: 5px ; background-color:orange ; color: black; left:0%  ;  font-size: 80% ; " data-toggle="dropdown" > commandes<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">panier<i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a href="#">règlement<i class="fa fa-registered" aria-hidden="true"></i>
                                                </a></li>
                                               
                                                </ul>
                                               </li> </li>
                                            <li class="col-lg-2 col-md-2 col-sm-12 col-xs-12"  class="dropdown"    > <a href="#"  style=" border: black , solid , 3px; margin: 5px ; background-color:orange ; color: black; left:0%  ; font-size: 80%;   " data-toggle="dropdown" >connexion<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">inscription<i class="fa fa-user" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a href="#">connexion<i class="fa fa-connectdevelop" aria-hidden="true"></i>
                                                </a></li>
                                                <li><a href="#">compte<i class="fa fa-address-book-o" aria-hidden="true"></i>
                                                </a></li>
                                                </ul>
                                               </li> </li>
                                            <li class=" col-lg-2 col-md-2 col-sm-12 col-xs-12"   class="dropdown"    > <a href="#"  style=" border: black , solid , 3px; margin: 5px ; background-color:orange ; color: black; left:0%  ; font-size: 80% ;  " data-toggle="dropdown" >registre<i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">historique d'achats<i class="fa fa-calendar" aria-hidden="true"></i>
                                                </a></li>
                                               
                                                </ul>
                                               </li>  </li>
                                            </ul>
                                        </nav>  
                                    </div>
                                </div>
                                <div class="row" style="height:60%">
                                    <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12" ></div>
                                        <div class="row" style=" top: 10%; height: 80%; " >
                                            <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4  col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5  ">
                                                 <img src={{asset('media/LOGO.jpg')}} height="50%" width="50%">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            
                        </div>
                    </div>
                </div>
                
            
                             
                        
                    
                
            
                <nav class="row" style="height:40% ;">
                    <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12"  >
                        <div class="row"  style="height:100%;"   >
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"     style = " height:100% ;"   >
                                <div class="row" style="height: 70% ">
                                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; font-family: 'Sedgwick Ave', cursive;  height: 80% ;"   > <p> texte publicitaire</p> </div>
                                </div>
                                <div class="row" style="height: 5%  ">
                                    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style=" right: 100%; top:0% ; display: flex ; justify-content: end;  "  > 
                                        <button   style="background-color: orange; color: black; font-size: xx-small;  ; "> Accéder<i class="fa fa-play" aria-hidden="true"></i>
                                        </button> 
                                    </div>
                                </div>
                            </div>
                        
                        <div  class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  style="background-color: rgb(248, 233, 15)  ;"  style = " height:100% ; "  >
                            <div class="media" class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                 <div style = " height:100% ;" class="col-lg-7 col-md-7 col-sm-7 col-xs-7"  >
                                <iframe width="95%" height="100%" src={{asset('images_background/yellow.jpg')}}  top= "5%"   frameborder ="5" allowfullscreen></iframe>
                                 </div>
                                 <div class="media-body " class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style=" top: 10% ;  font-family: 'Sedgwick Ave', cursive; color: black ;   background-color: rgb(248, 233, 15)  ;"  >
                                <h4 class="media-heading"  style="font-family:'Sedgwick Ave',cursive; color: black;   background-color: rgb(248, 233, 15) ;"   > Dernières sorties ....collection...</h4>
                                 Admirez ces nouveautés...
                                </div>
                            </div>
                                


                        </div>
                        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3"  style = " height:100% ; "  >
                            <div class="row" style="height: 70% ">
                                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background-color: white; font-family: 'Sedgwick Ave', cursive;  height: 80% ; "   > <p> texte publicitaire</p> </div>
                            </div>
                            <div class="row" style="height: 5% ">
                                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="left:65%; top:0% ; display: flex ; justify-content: end ;"   > 
                                    <button      style="background-color: orange; color: black; font-size: xx-small; "> Accéder<i class="fa fa-play" aria-hidden="true"></i>
                                    </button> 
                                </div>
                            </div>
                        </div>
                    </div>
                </nav> 

            </div>
               
            <div class="col-lg-3 col-md-3 col-ms-3 col-xs-3"  style=" height:100% ; "   >
                <div class="row" style="height:70% ;" >
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 "  style=" height:80% ;">
                        <img src={{asset('media/DSC_2778.jpg')}}  width="100%" height="100%"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 "  style="height:100% ;">
                            <img src={{asset('media/DSC_2785.jpg')}}  width="100%" height="100%"></div>
                    
                    </div>
                <nav class="row" style="height:30%">
                    <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12  "></div>
                </nav>
            </div>

          
        
        </div>
    
</header>
    <footer  class = "container"   style=" position: absolute ; top:75% ; height:35% ; background-image: url({{asset('media/yellow.jpg')}}) ; background-repeat: repeat-y ; background-repeat: repeat-x; "  >

        <div class="row"  style="height:100%" >
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"  style="height:80%   ; " > 
                 <div class="row" style="height: 80%;">
                <div  class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="  font-size: xx-small; "  >
                   <ul  style="list-style-type: none ;" >
                    <li><a href="#"  style=" background-color: rgb(13, 13, 14)  ; ">aide<i class="fa fa-yelp" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="#" style=" background-color: rgb(14, 14, 15)  ;"  >suivre votre commande <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="#" style=" background-color: rgb(12, 12, 14)  ;" >annuler votre commande <i class="fa fa-shopping-basket" aria-hidden="true"></i> </a></li>
                
             
                  
                    <li> <a href="#"   style=" background-color: rgb(5, 5, 5)  ;" >condition génerales <i class="fa fa-book" aria-hidden="true"></i>
                    </a></li>
                    <li><a href="#"   style=" background-color: rgb(10, 10, 10)  ;" >localisation <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a></li>
                   
              
                    <li> <a href="#" style=" background-color: rgb(12, 11, 11)"  >adresse émail <i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                   <li><a href="#" style=" background-color: rgb(10, 8, 9)"  >adresse instagram <i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" style=" background-color: rgb(10, 10, 10)"  >adresse facebook <i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                        <li><a href="#" style=" background-color: rgb(15, 14, 15)"   >numéro de téléphone <i class="fa fa-phone" aria-hidden="true"></i></a></li>
                        </ul>
                </div>
                </div>
            </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  style="height:90% ; top:10% ;"  >
            <div class="row"  style="height:90% ; font-size: xx-small;" >
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black; "  >Bénin  <img src={{asset('media/drapeau-benin.jpg')}}  width="20px" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(245, 246, 248)  ; color: black;"  >Burkina-Faso  <img src={{asset('media/1200px-Flag_of_Burkina_Faso.svg.png')}}  width="20%" height="20%">  </div>
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(171, 172, 169)  ; color: black;"  >Centrafique  <img src={{asset('media/drapeau de la centrafrique.jpg')}}  width="20%" height="20%"></div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(253, 252, 252)  ; color: black;"  >Comores   <img src={{asset('media/1014360-Drapeau_des_Comores.jpg')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(150, 146, 146)  ; color: black;"  >Congo   <img src={{asset('media/1200px-Flag_of_the_Democratic_Republic_of_the_Congo.svg.png')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(255, 255, 254)  ; color: black; "  >Cote d'ivoire   <img src={{asset('media/1200px-Flag_of_Côte_Ivoire.svg.png')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black;"  >Gabon    <img src={{asset('media/1009494-Drapeau_du_Gabon.jpg')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(247, 248, 250)  ; color: black;"  >Guinée    <img src={{ asset('media/drapeau-guinee-conakry.png')}}  width="20%" height="20%"> </div>
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(175, 175, 173)  ; color: black;"  >Guinée Bissau    <img src={{asset('media/1009503-Drapeau_de_la_Guinée-Bissau.jpg')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(156, 156, 156)  ; color: black;"  >Guinée équatoriale    <img src={{asset('media/1009504-Drapeau_de_la_Guinée_équatoriale.jpg')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(248, 238, 238)  ; color: black;"  >Mali     <img src={{asset('media/1200px-Flag_of_Mali.svg.png')}}  width="20%" height="20%"></div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(255, 254, 245)  ; color: black; "  >Mauritanie    <img src={{asset('media/_98966769_f98ea54c-02b5-4383-ab66-34b8d242d3eb.jpg.webp')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(190, 184, 245)  ; color: black; "  >Niger       <img src={{asset('media/2389px-Flag_of_Niger.svg.png')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(246, 248, 252)  ; color: black; "  >Sénégal     <img src={{asset('media/2560px-Flag_of_Senegal.svg.png')}}  width="20%" height="20%"> </div>
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(172, 172, 172)  ; color: black;"  >Tchad     <img src={{asset('media/langfr-225px-Flag_of_Chad.svg.png')}}  width="20%" height="20%"> </div> 
        <div  class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" background-color: rgb(218, 212, 213)  ; color: black;"  >Togo    <img src={{asset('media/1009608-Drapeau_du_Togo.jpg')}}  width="20%" height="20%"> </div> 
        </div>
        <div class="row"  style="height:10%" >
            </div>
        </div>
        


        
    </div>
    </footer>


{% endblock %}
